@{
    ViewData["Title"] = "Home Page";
}





<form action="@Url.Action("LogOut")" method="post">
    <h1>你好，您已登入成功</h1>

    

    <button type="submit" class="btn btn-primary">登出</button>
    
</form>




